POSTGRES_DB=clarus
POSTGRES_USER=clarus
POSTGRES_PASSWORD=clarus_password

DATABASE_URL=postgresql+psycopg://clarus:clarus_password@database:5432/clarus

JWT_SECRET_KEY=MY_SECRET

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
ML_QUEUE_NAME=ml_jobs

# Models
MODEL_DIR=/data/models
XGB_BIN_PATH=/data/models/xgb_bin.json
XGB_MULTI_PATH=/data/models/xgb_multi.json

# Uploads
UPLOADS_DIR=/data/uploads

# Auth
ACCESS_TOKEN_EXPIRE_MINUTES=1440

JWT_ALGORITHM=HS256
XGB_CLASS_MAPPING_PATH=/data/models/class_mapping.json
XGB_FEATURES_BIN_PATH=/data/models/features_bin.json
XGB_FEATURES_MULTI_PATH=/data/models/features_multi.json
